<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.clipsaver</string>
	<key>connections</key>
	<dict>
		<key>33CD6F02-65A3-4497-9C85-E38FDE97FC8D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>519C25B7-FDE4-4EA5-AF9B-7460EEDC70CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3C93115F-315B-407A-A491-DC010E92BEE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F34B0F25-D875-426D-8071-3FACA31F0AE1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>519C25B7-FDE4-4EA5-AF9B-7460EEDC70CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E3B4F7E0-C8D4-4C51-A42A-25FF8B353E84</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>264D1DEE-5F29-4719-BF23-EE32ACFA308E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5E9A0126-8C80-41E7-AD49-590FE0777A91</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A8AB7CFC-4F7B-436E-8EAD-C48244230F84</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>71A0EF86-42D5-4C0A-8656-CB6FEAD6F857</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F8D8F9B0-A655-474F-9D3C-68866A8D85E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A8AB7CFC-4F7B-436E-8EAD-C48244230F84</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F34B0F25-D875-426D-8071-3FACA31F0AE1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>AAF941DB-A595-4072-BD25-6BCC55A93AE2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3C93115F-315B-407A-A491-DC010E92BEE9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>57CB54B3-8B1E-4F86-8390-AC626FA235F7</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E96B42D9-7B30-4324-A38A-66A2B3668DCE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2A316F1C-9FE9-43A3-A61D-F5CEFDF2420D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F8D8F9B0-A655-474F-9D3C-68866A8D85E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5E9A0126-8C80-41E7-AD49-590FE0777A91</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0D12874B-03FB-467B-BCBB-6BECAB99484A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AB178842-6707-4C5B-88D1-FC317394D8F9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>951960C5-0D7C-4BE6-8488-FE4C72278C90</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>33CD6F02-65A3-4497-9C85-E38FDE97FC8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>luckman212</string>
	<key>description</key>
	<string>Saves images from your clipboard history</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ClipSaver</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/System/Library/CoreServices/Finder.app</string>
				<key>sourcefile</key>
				<string>~/{var:dest_dir}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>F34B0F25-D875-426D-8071-3FACA31F0AE1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:exitcode}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>0</string>
						<key>outputlabel</key>
						<string>success</string>
						<key>uid</key>
						<string>AAF941DB-A595-4072-BD25-6BCC55A93AE2</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:exitcode}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>1</string>
						<key>outputlabel</key>
						<string>warning</string>
						<key>uid</key>
						<string>57CB54B3-8B1E-4F86-8390-AC626FA235F7</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:exitcode}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>2</integer>
						<key>matchstring</key>
						<string>1</string>
						<key>outputlabel</key>
						<string>failure</string>
						<key>uid</key>
						<string>2A316F1C-9FE9-43A3-A61D-F5CEFDF2420D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>A8AB7CFC-4F7B-436E-8EAD-C48244230F84</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>save_multi.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5E9A0126-8C80-41E7-AD49-590FE0777A91</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>completed with warnings:
{var:errmsg}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>3C93115F-315B-407A-A491-DC010E92BEE9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>AB178842-6707-4C5B-88D1-FC317394D8F9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>cs</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching clipboard items</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>cs.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Save images from clipboard history</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>71A0EF86-42D5-4C0A-8656-CB6FEAD6F857</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>multisave</string>
						<key>outputlabel</key>
						<string>multi</string>
						<key>uid</key>
						<string>0D12874B-03FB-467B-BCBB-6BECAB99484A</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>reveal</string>
						<key>outputlabel</key>
						<string>reveal</string>
						<key>uid</key>
						<string>951960C5-0D7C-4BE6-8488-FE4C72278C90</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>single</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F8D8F9B0-A655-474F-9D3C-68866A8D85E6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>failed with error:
{var:errmsg}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>E96B42D9-7B30-4324-A38A-66A2B3668DCE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>save_single.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>33CD6F02-65A3-4497-9C85-E38FDE97FC8D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>The clipboard history item failed to be converted.</string>
				<key>title</key>
				<string>Failed!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E3B4F7E0-C8D4-4C51-A42A-25FF8B353E84</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:exitcode}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>0</string>
						<key>outputlabel</key>
						<string>success</string>
						<key>uid</key>
						<string>AAF941DB-A595-4072-BD25-6BCC55A93AE2</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:exitcode}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>2</integer>
						<key>matchstring</key>
						<string>0</string>
						<key>outputlabel</key>
						<string>failure</string>
						<key>uid</key>
						<string>264D1DEE-5F29-4719-BF23-EE32ACFA308E</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>519C25B7-FDE4-4EA5-AF9B-7460EEDC70CE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># ClipSaver (v2.0.3)

This workflow is triggered with the `cs` keyword by default.

It presents images from Alfred's clipboard history via a Script Filter, and allows selecting an image to be extracted, converted to a format of your choice (default is PNG) and placed in a folder of your choosing (default is on the Desktop, in a folder called `saved_clips`). You can optionally set the `save_to_current` environment variable to have the workflow save to the currently active Finder window.

Upon success, the original clipboard entry as well as the .tiff from Alfred's database will be removed.

## Workflow Variables

- `db_name` defaults to `clipboard.alfdb` (required)
- `db_path` defaults to `Library/Application Support/Alfred/Databases` (required)
- `dest_dir` where to save images if `save_to_current == false`, defaults to `Desktop/saved_clips` (required)
- `sf_clip_limit` (default: empty) an optional limit to constrain the number of results displayed in the Script Filter
- `save_to_current` (default: false) - set to `true` if you want the workflow to put saved images in the directory of the "frontmost" Finder window
- `default_format` - set to e.g. `jpeg`, `png` etc (use `sips --formats` to see all available formats). You can override per invocation by passing as an argument.

## Usage Tips

- Tap `⇧SHIFT` while navigating through Script Filter results to get a QuickLook preview of the image. While QL is displayed, you can use the Arrow keys to flip through results.
- Tap `⌥OPTION` to show the path to the app that created that image in the subtitle
- Hold `⌘CMD` when actioning the item to Reveal the original image in Alfred's db folder
- Pass a number as an argument to the script to save X number of clips in bulk
- Pass an image format e.g. `jpeg` as an argument to override your default format

## Screenshot:
&lt;img width=500 src=https://user-images.githubusercontent.com/1992842/148102272-1e6e8cf5-08c1-4f3e-add5-63b56225ba3c.png&gt;

## Download:
https://github.com/luckman212/alfredworkflows/blob/master/ClipSaver.alfredworkflow?raw=true

## Forum topic:
https://www.alfredforum.com/topic/14400-clipsaver-save-images-from-clipboard-history-to-png-files/</string>
	<key>uidata</key>
	<dict>
		<key>33CD6F02-65A3-4497-9C85-E38FDE97FC8D</key>
		<dict>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>3C93115F-315B-407A-A491-DC010E92BEE9</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>519C25B7-FDE4-4EA5-AF9B-7460EEDC70CE</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>5E9A0126-8C80-41E7-AD49-590FE0777A91</key>
		<dict>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>71A0EF86-42D5-4C0A-8656-CB6FEAD6F857</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>A8AB7CFC-4F7B-436E-8EAD-C48244230F84</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>AB178842-6707-4C5B-88D1-FC317394D8F9</key>
		<dict>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>E3B4F7E0-C8D4-4C51-A42A-25FF8B353E84</key>
		<dict>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>E96B42D9-7B30-4324-A38A-66A2B3668DCE</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>F34B0F25-D875-426D-8071-3FACA31F0AE1</key>
		<dict>
			<key>xpos</key>
			<integer>835</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>F8D8F9B0-A655-474F-9D3C-68866A8D85E6</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>db_name</key>
		<string>clipboard.alfdb</string>
		<key>db_path</key>
		<string>Library/Application Support/Alfred/Databases</string>
		<key>default_format</key>
		<string>png</string>
		<key>dest_dir</key>
		<string>Desktop/saved_clips</string>
		<key>save_to_current</key>
		<string>false</string>
		<key>sf_clip_limit</key>
		<string></string>
	</dict>
	<key>version</key>
	<string>2.0.3</string>
	<key>webaddress</key>
	<string>https://github.com/luckman212/alfredworkflows</string>
</dict>
</plist>
